#title {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-top: 30;
    font-family: 'Roboto', sans-serif;
}

#player {
    -webkit-box-shadow: 17px 10px 56px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 10px 56px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 17px 10px 56px -17px rgba(0, 0, 0, 0.75);
}

.titleBlock {
    /*background-color: 91A8D0;*/
    background-image: url(http://i.imgur.com/fljVhyK.png);
    width: 100%;
    height: 40%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 17px 10px 56px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 10px 56px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 17px 10px 56px -17px rgba(0, 0, 0, 0.75);
}

body {
    padding: 0;
}

.embeddedVid {
    width: 711;
    margin: 30 auto;
}

#camera {
    display: none;
}
