<html>
<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link href="css/admin.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <!-- embedded Youtube player with iframs -->
  <script src="js/admin.js"></script>
</head>

<body>
  <div class="page">
      <div class="titleBlock"></div>
      <div id="title"></div>
      <div class="embeddedVid">
          <div id="player"></div>
      </div>
      <div id="graph"></div>
      <div class="pieBar">
        <div id="barChart"></div>
        <div id="pieChart"></div>
      </div>
  </div>

<!-- embedded Youtube player with iframs -->
<script src="/js/admin.js"></script>
<!-- draw plots -->
<script src="/js/plot.js"></script>
</body>
</html>
