<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="/css/video.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

</head>

<body>
<img class="logo" src="/images/logo-trans-white.png"/>
<div class="fixed-action-btn center-align">
    Webcam
    <!-- Switch -->
    <div class="switch" id="webcam-switch">
        <label>
            Off
            <input type="checkbox" id="webcam-switch-radio">
            <span class="lever"></span>
            On
        </label>
    </div>
</div>

<div class="page">
    <div class="titleBlock"></div>
    <div class="embeddedVid center-align">
        <div id="player"></div>
    </div>
    <div id="title"></div>
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <a href="/search" class="waves-effect waves-light btn" style="background-color:#8FA7CD; border-radius:10px;"><i class="material-icons right">search</i>Back to Search</a>
            </div>
        </div>
    </div>

</div>
<video id="camera" autoplay></video>

<canvas id="photo"></canvas>


</body>
<script type="text/javascript">
    var VIDEO_ID = "{{ video_id }}";
</script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/js/adapter.js"></script>
<script src="/js/video.js"></script>
</html>
