<html>
<head>
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">

</head>

<body>

<div class="page">
    <div class="titleBlock"></div>
    <div id="title"></div>
    <div class="embeddedVid">
        <div id="player"></div>
    </div>
</div>
<video id="camera" autoplay></video>

<div id="incoming">
    <h2>Incoming photos</h2>
    <canvas id="photo"></canvas>
    <a href="#" class="button" id="btn-download" download="my-file-name.png">Download</a>
</div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="/js/adapter.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
