<html>
<head>
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">

</head>

<body>
<div class="page">
    <div class="titleBlock"></div>
    <div id="title"></div>
    <div class="embeddedVid">
        <div id="player"></div>
    </div>
</div>
<h2>Incoming photos</h2>
<div id="trail">
    <canvas id="photo"></canvas>
</div>
<video id="camera" autoplay></video>

<a href="#" class="button" id="btn-download" download="my-file-name.png">Download</a>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="js/adapter.js"></script>
<script src="js/main.js"></script>
</body>
</html>
